{% extends 'base.html.twig' %}
{#{% block nav %}#}
{#    <ul class="navbar-nav" style="text-decoration: underline red">#}
{#        <li class="nav-item ">#}
{#            <a class="nav-link text-danger"  href="/home">Home <span class="sr-only ">(current)</span></a>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#            <a class="nav-link text-danger" href="inschrijven.html.twig">Inschrijven op les</a>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#            <a class="nav-link text-danger" href="/lessen"><b>Overzicht inschrijvingen</b></a>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#            <a class="nav-link text-danger" href="#" tabindex="-1" aria-disabled="true">Gegevens lid wijzigen</a>#}
{#        </li>#}
{#    </ul>#}
{#{% endblock %}#}
{% block title %}Lessen index{% endblock %}

{% block body %}
    <h1>Lessen index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Datum</th>
            <th>Tijd</th>

            <th>lokaal</th>
            <th>Sport</th>
{#            <th>Max_personen</th>#}
            <th>Aantal ingeschreven deelnemers</th>
{#            <th>Prijs</th>#}
            <th>Deelnemerslijst</th>
            <th>Aanpassen</th>
{#            <th>verwijderen</th>#}
        </tr>
        </thead>
        <tbody>
        {% for lessen in lessens %}
            <tr>
                <td>{{ lessen.datum ? lessen.datum|date('Y-m-d') : '' }}</td>
                <td>{{ lessen.tijd ? lessen.tijd|date('H:i:s') : '' }}</td>
                <td>{{ lessen.lokaal }}</td>
                <td>{{ lessen.training.naam  }}</td>
                <td>{{ lessen.registrerens|length }}/{{ lessen.maxpersonen }}</td>
{#                <td>{{ lessen.locatie }}</td>#}


<td>                    <a class="btn btn-secondary" href="{{ path('lessen', {'id': lessen.id}) }}">Lijst</a></td>
{#                <td>10</td>#}
                <td>

                    <a class="btn btn-warning" href="{{ path('lessen_edit', {'id': lessen.id}) }}">edit</a>
{#                    <form method="post" action="{{ path('lessen_delete', {'id': lessen.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">#}
{#                        <input type="hidden" name="_method" value="DELETE">#}
{#                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lessen.id) }}">#}
{#                        <button class="btn">Delete</button>#}
{#                    </form>#}

<td>
{#                    <form method="post" action="{{ path('lessen_delete', {'id': lessen.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">#}
{#                        <input type="hidden" name="_method" value="DELETE">#}
{#                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lessen.id) }}">#}
{#                        <button class="btn btn-danger">Delete</button>#}
{#                    </form>#}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('lessen_new') }}">Nieuwe les aanmaken</a>
{% endblock %}
