{% extends 'base.html.twig' %}

{% block title %}Training index{% endblock %}

{% block body %}
    <div style="margin-left: 35px;">
    <h1>Training</h1>

    <table class="table">
        <thead>
            <tr>
{#                <th>Id</th>#}
                <th></th>
                <th>Naam</th>
                <th>Beschrijving</th>
                <th>Tijd</th>
                <th>Kosten</th>


            </tr>
        </thead>
        <tbody>
        {% for training in trainings %}
            <tr>
{#                <td>{{ training.id }}</td>#}
                <td> <img style="width: 100px; height: 100px;" src="{{ training.image }}.jpg" class="card-img" alt="..."></td>
                    <td>{{ training.naam }}</td>
                    <td>{{ training.beschrijving }}</td>
                    <td>{{ training.tijd }}</td>
                    <td>{{ training.kosten }}</td>
                {% if is_granted('ROLE_ADMIN') %}

                    <td>
                        <form method="post" action="{{ path('training_delete', {'id': training.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ training.id) }}">
                            <button class="btn btn-outline-danger">verwijderen</button>
                        </form>

                    <a  class="btn btn-outline-success" href="{{ path('training_show', {'id': training.id}) }}">meer informatie</a>
                    <a class="btn btn-outline-warning" href="{{ path('training_edit', {'id': training.id}) }}">edit</a>
                </td>
{% else %}
    {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Geen trainingen</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('training_new') }}">aanmaken</a>
        {% else %}

        {% endif %}
    </div>
{% endblock %}
