<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css"
              integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/login.css') }}">

    {% endblock %}
</head>

<body>
<div class="d-flex">
    <div class="p-2 d-none d-sm-none d-md-block">
        <img class="rounded" style="width: 200px;" src="{{ asset('logo.jpg') }}">
    </div>
    <div class="p-2">
        <h1 style="color: red; font: 3rem 'Bauhaus 93'" class="d-none d-sm-block">Training Centrum <br> Den Haag
        </h1>
        <h1 style="color: red; font: 2rem 'Bauhaus 93'" class="d-block d-sm-none">Training Centrum <br> Den Haag
        </h1>
    </div>
    {% if app.user %}
        <form class="p-2 ml-auto text-danger" style="text-align: right">
            <h4>Je bent ingelogt als: <br><br> - {{ app.user.username }} - <br><br></h4> <a type="button" class="btn btn-outline-danger" href="{{ path('app_logout') }}">Uitloggen</a>
        </form>
    {% else %}
        <form class="p-2 ml-auto text-danger" style="text-align: right">
            <h4>U kunt hier klikken <br><br> om te inloggen</h4><br>
            <a type="button" href="/login" class="btn btn-outline-danger">Inloggen</a>
        </form>
    {% endif %}
</div>
<nav style="background-color: white ;margin-left: 20px;margin-right: 20px; padding: 0px 20px 0px 0px;"
     class="navbar navbar-expand-lg navbar-light border-top border-danger">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        {#{% include 'navbar.html.twig' %}#}
        {% block nav %}

            {% if is_granted('ROLE_ADMIN') %}
                <ul class="navbar-nav" style="text-decoration: underline red">
                    <li class="nav-item">
                        <a class="nav-link text-danger"
                           href="/home" {% if app.request.get('_route') == 'adminhome' %} style="font-weight: bold" {% endif %}>
                            <b>Home</b> </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger"
                           href="#" {% if app.request.get('_route') == '' %} style="font-weight: bold" {% endif %}>
                            Instructeurs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger"
                           href="/user" {% if app.request.get('_route') == '' %} style="font-weight: bold" {% endif %}>
                            Leden</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger"
                           href="/training" {% if app.request.get('_route') == 'training_index' %} style="font-weight: bold" {% endif %}>
                            Trainingen</a>
                    </li>
                </ul>

            {% elseif is_granted('ROLE_INSTRUCTEUR') %}
                <ul class="navbar-nav" style="text-decoration: underline red">
                    <li class="nav-item">
                        <a class="nav-link text-danger"
                           href="/" {% if app.request.get('_route') == 'home' %} style="font-weight: bold" {% endif %}>
                            Home</a>
                    </li>
                    <li class="nav-item text-danger">
                        <a class="nav-link text-danger"
                           href="/lessen/new" {% if app.request.get('_route') == '' %} style="font-weight: bold" {% endif %}>
                            plannen lessen</a>
                    </li>
                    <li class="nav-item text-danger">
                        <a class="nav-link text-danger"
                           href="/#" {% if app.request.get('_route') == '' %} style="font-weight: bold" {% endif %}>
                            Lessen beheer</a>
                    </li>
                </ul>


            {% elseif is_granted('ROLE_USER') %}
                <ul class="navbar-nav" style="text-decoration: underline red">
                    <li class="nav-item">
                        <a class="nav-link text-danger"
                           href="/" {% if app.request.get('_route') == 'home' %} style="font-weight: bold" {% endif %}>
                            Home</a>
                    </li>
                    <li class="nav-item text-danger">
                        <a class="nav-link text-danger"
                           href="/inschrijven" {% if app.request.get('_route') == 'inschrijven' %} style="font-weight: bold" {% endif %}>
                            Inschrijven op les</a>
                    </li>
                    <li class="nav-item text-danger">
                        <a class="nav-link text-danger"
                           href="/Lessen" {% if app.request.get('_route') == 'Lessen' %} style="font-weight: bold" {% endif %}>
                            Overzicht inschrijven</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger"
                           href="/user/{{ app.user.id }}/edit" {% if app.request.get('_route') == '/user/{{ app.user.id }}/edit' %} style="font-weight: bold" {% endif %}>
{#                           href="/user/17/edit" {% if app.request.get('_route') == '' %} style="font-weight: bold" {% endif %}>#}
{#                        href="{{ path('user_show', {'id': user.id}) }}">#}
                            Gegevens lid wijzigen</a>
                    </li>
                </ul>


            {% else %}
                <ul class="navbar-nav" style="text-decoration: underline red">
                    <li class="nav-item">
                        <a class="nav-link text-danger"
                           href="/" {% if app.request.get('_route') == 'home' %} style="font-weight: bold" {% endif %}>
                            Home</a>
                    </li>
                    <li class="nav-item text-danger">
                        <a class="nav-link text-danger"
                           href="/training" {% if app.request.get('_route') == 'trainingsAanbod' %} style="font-weight: bold" {% endif %}>
                            Trainings Aanbod</a>
                    </li>
                    <li class="nav-item text-danger">
                        <a class="nav-link text-danger"
                           href="/user/new" {% if app.request.get('_route') == 'Lid Worden' %} style="font-weight: bold" {% endif %}>
                            Lid Worden</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger"
                           href="/gedrachtsregel" {% if app.request.get('_route') == 'Gedrachtsregels' %} style="font-weight: bold" {% endif %}>
                            Gedrachtsregels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger"
                           href="/lokatie" {% if app.request.get('_route') == 'Lokatie & contact' %} style="font-weight: bold" {% endif %}>
                            Lokatie & contact</a>
                    </li>
                </ul>
            {% endif %}
        {% endblock %}
    </div>
</nav>

<main class="container-expand-sm border border-secondary" style="margin: 0px 20px 0px 20px;">
    <div class="card-group" style="margin-left: 20px;">
        <div class="card">
            <img src="{{ asset('kickboksen.jpg') }}" class="card-img-top"
                 style="width: 600px;">
        </div>

        <div class="card">
            <img src="{{ asset('kickboksen.jpg') }}" class="card-img-top"
                 style="width: 600px;">

        </div>
        <div class="card">
            <img src="{{ asset('kickboksen.jpg') }}" class="card-img-top"
                 style="width: 600px;">

        </div>
    </div>
    <div class="row" style="margin-left: 0px;">
        {% block body %}{% endblock %}
    </div>
</main>

<!-- Footer -->
<footer class="page-footer font-small .bg-secondary" style="background-color: grey; margin-top: 50px;">
    <div class="footer-copyright text-center py-5" style="background-color: grey;">© 2018 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->

</footer>

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js"
            integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P"
            crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>
